<div>
    <table class="table table-borded">
        <thead>
            <tr>
                <th>Name</th>
                <th>Dame</th>
                <th>Defend</th>
                <th>Speed</th>
                <th>Price</th>
                <th>Avatar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let champ of champs">
                <td class="color-blue">
                    <app-champ [champName]="champ.name"></app-champ>
                </td>
                <td>
                    <app-dame [champDame]="champ.dame"></app-dame>
                </td>
                <td>{{champ.defend}}</td>
                <td>{{champ.speed}}</td>
                <td>{{champ.price}}</td>
                <td>
                    <app-price [price]="champ.price" [src]="champ.avatar"></app-price>
                    <!-- <img src="{{champ.avatar}}" alt={{champ.name}} height="50"> -->
                    <!-- <img [src]="champ.avatar" [alt]="champ.name" height="100"> -->
                </td>
            </tr>
        </tbody>
    </table>
    
</div>