<div>
    <a routerLink="/admin/category" class="btn btn-warning">Quay lại</a>
</div>
<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" style="max-width: 600px">
    <div class="form-group">
        <label class="control-label" for="name">Tên danh mục</label>
        <div class="">
            <input id="name" name="name" placeholder="Tên danh mục" class="form-control input-md" formControlName="name"
                required="" type="text">
        </div>
    </div>
    <div>
        <button class="btn btn-success">Submit</button>
    </div>
    
</form>
