<div>
    <a routerLink="/admin/products"><button class="btn btn-secondary">Back</button></a>
</div>
<!-- Định nghĩa xem form được quản lý bởi biến nào -->
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">Product Name</label>
        <!-- định nghĩa input sẽ đượ quản lý bởi key nào -->
        <input type="text" class="form-control" formControlName="name">
        <!-- <span *ngIf="(productForm.get('name')?.dirty || productForm.get('name')?.touched) && productForm.get('name')?.errors?.['required']"></span> -->
        <app-show-val [field]="productForm.get('name')" key="Tên sản phẩm"></app-show-val>
    </div>
    <div>
        <button class="btn btn-success" [disabled]="!productForm.valid">Submit</button>
    </div>
</form>
